<div class="fields row">
  <div class="field">
    <label>First name</label>
    <input type="text" placeholder="First Name">
  </div>
  <div class="field">
    <label>Last name</label>
    <input type="text" placeholder="Last Name">
  </div>
  <div class="field">
    <label>Pronouns</label>
    <input type="text" placeholder="i.e. she/her, they/them">
  </div>
</div>