<div class="fields row">
  <div class="field">
    <label>First name</label>
    {{input type="text" placeholder="First Name" value=firstName}}
  </div>
  <div class="field">
    <label>Last name</label>
    {{input type="text" placeholder="Last Name" value=lastName}}
  </div>
  <div class="field">
    <label>Nickname for badge</label>
    {{input type="text" placeholder="Last Name" value=nickname}}
  </div>
  <div class="field">
    <label>Pronouns</label>
    {{input type="text" placeholder="i.e. she/her, they/them" value=pronouns}}
  </div>
</div>