<div class="ui secondary pointing menu">
  <LinkTo @route="index" class="item">
    Home
  </LinkTo>
  <LinkTo @route="about" class="item">
    About
  </LinkTo>
  <LinkTo @route="sign-in" class="item">
    Sign In
  </LinkTo>
  <LinkTo @route="register" class="item">
    Register
  </LinkTo>
</div>