<div class="main-nav">
  <div class="ui secondary pointing menu">
    <LinkTo @route="index" class="item">
      Home
    </LinkTo>
    <LinkTo @route="profile" class="item">
      Profile
    </LinkTo>
  </div>
</div>