<div class="row">
  <h2 class="ui center aligned header">My profile</h2>
</div>

<div class="ui form profile">
  <Forms::Name  />
  <Forms::Size @size={{size}} @isFittedShirt={{isFittedShirt}} />
</div>
