<div class="home-page">
  <h1 class="banner-name">SkipID</h1>
  <div class="ui card fluid">
    <div class="content">
      <p>
        Isn't it strange to need to show a photo ID
        during the sign-in for a crypto hackathon,
        attended by privacy-conscious developers?
      </p>
      <p>
        SkipID uses login with
        <a href="https://tor.us/" target="_blank" rel="noopener noreferrer">Torus</a>
        to smooth out the process.
        Fill out your profile online, customize your badge,
        and then show your QR code from your phone at check-in.
      </p>

      <h3>About</h3>
      <p>
        This is a project for the
        <a href="https://eth.boston/" target="_blank" rel="noopener noreferrer">ETHBoston</a>
        hackathon!
        Created by four anonymous, sleepy, hungry, under/overcaffeinated developers.
      </p>
      <p>
        Source code on <a href="https://github.com/valmack/ethbostonidentity">GitHub</a>
      </p>
    </div>
  </div>

</div>