.main-nav {
  margin-bottom: 40px;
}

.profile.form .field {
  padding-bottom: 5px;
  padding-top: 5px;
}

.ui.form .dietary-form.fields .field {
  padding-right: 30px;
}

h1.ui.header {
  padding-bottom: 30px;
  padding-top: 30px;
}

.badge-top {
  height: 40px;
  background-color: #555;
  padding: 10px;
}

.badge-punch {
  margin: 0 auto;
  width: 50px;
  border-radius: 3px;
  height: 10px;
  background-color: #222;
}

.badge-name {
  font-size: 4rem;
  line-height: 4rem;
}